.mypage-section {
    display: flex;
    height: 100%;
    margin: 3rem 0;
    padding: 0 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.infomation-inner {
    margin: 2rem auto;
    p {
        margin: 2rem auto;
        font-size: 1.5rem;
        max-width: 50%;
    }
}

// .infomation-inner {
//     margin-bottom: 100px;
//     p {
//         font-size: 28px;
//         font-weight: lighter;
//         text-align: center;
//         margin: 20px 0px 20px 0px;
//         &:first-child {
//             font-size: 35px;
//         }
//     }
//     form {
//         display: none;
//         width: 450px;
//         margin: auto;
//         input {
//             display: block;
//         }
//         div {
//             width: 80px;
//             margin: auto;
//             button {
//                 margin-top: 20px;
//                 border: none;
//                 background: wheat;
//                 font-weight: 100;
//                 border-radius: 5px;
//                 height: 35px;
//                 width: 90px;
//             }
//         }
//     }
    
// }

.edit-information {
    text-align: center;
    align-self: flex-start;
    width: 50%;
}

.user-post-list {
    text-align: center;
    align-self: flex-start;
    width: 50%;
    height: 80%;
    border-left: 0.3px solid #d5d5d5;
}

// .profileimg-inner {
//     margin: 20px auto;
    
// }

.mypage-title {
    margin: 2rem auto;

    p {
        display: inline;
        border-bottom: 0.3px solid #d5d5d5;
        padding: 0px 5%;
        margin: 1rem auto;
        font-size: 2rem;
    }
}

.my-write {
    width: 100%;

    .my-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p, h5 {
            margin: 0;
        }
    }
}

// .write-title {
//     width: 160px;
// }

// .image-edit {
//     float: right;
// }

.profile-preview {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.profile-image {
    display: block;
}

// .name-input {
//     margin: auto;
//     width: 300px;
//     height: 50px;
// }

// .introduce-input {
//     margin: auto;
//     width: 300px;
//     height: 100px;
// }