

.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
}

.ck.ck-editor {
    margin-top: 60px;
    :focus {
        width: 99%;
    }
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    width: 99%;
    
}

.ck.ck-reset_all, .ck.ck-reset_all * {
    width: 99.8%;
}

.submit-button {
    border: none; 
    background: transparent;
    font-size: 170%;
    margin: 30px;
    float: right;
    margin-bottom: 100px;
}

.dropdown {
    float: right;
    margin: 30px 20px 20px 20px;
    background: transparent;
    border-color: #555555;
    width: 7%;
    height: 40px;
    text-align: center;
}

.drop-select {
    margin: 10px;
    width: 90px;
    height: 30px;
    font-size: 18px;
}

.write-title {
    border-bottom: 0.3px solid #d5d5d5;
    width: 200px;
    margin: auto;
    font-size: 35px;
    font-weight: 100;
}