.post-container {
    width: 50%;
    margin: 3rem auto;
}

.post-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.post-pagination-container {
    margin: auto;
}

.post-time {
    font-size: 80%;
    float: right
}