



.ListStyle{
    height: 100%;
    overflow-y: auto;
    position: relative;
    
    //@import url(https://fonts.googleapis.com.com/earlyaccess/nanumgothic.css);
    h2{
        margin-top : 20px;
        margin-bottom: 20px;
        color : rgb(203, 178, 243);
        border-bottom: 5px solid rgb(203, 178, 243);  
        font-family: "Helvetica Neue"
    }

}

.BoardListStyle{
    white-space: nowrap;
    user-select: none;
    position: relative;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}