html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav {
    width: 331px / 1920px * 100%;
    .nav-inner {
        animation-duration: 1s;
        animation-name : slide;
        @keyframes slide {
            from{
                margin-left : -300px
            }
            to{
                margin-left: 0px;
            }
        }

        border-radius: 4px;
        display: none;
        min-height: 100%;
        width: 331px / 1920px * 100%;
        background-color: #D6D2ED;
        position: absolute;
        top:75px;
        bottom: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 10%;
        z-index: 20;
    }
}

.profile {
    position: relative;
    margin: 10% 0% 10% 0%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    flex-wrap : wrap;
    .profile-image {
        width: 70%;
        position: relative;
        top: 8%;
        left: 15%;
        border-radius: 80%;
    }
    .user-name {
        font-size: 170%;
        color: #555555;
        text-align: center;
        margin: 10% 0 10% 0;
    }
    .write-infomation {
        position: relative;
        margin: 10% 0 10% 17%;
        display: flex;
        
        .wirte-btn {
            color: #555555;
            hr {
                width: 85%;
                position: relative;
                bottom: 20%;
            }
        }
        .infomation-btn {
            color: #555555;
            position: relative;
            left: 20%;
            hr { 
                width: 85%;
                position: relative;
                bottom: 20%;
            }
        }
    }
}

.notice-list {
    color: #555555;
    margin: 10% 0% 20% 0%;
}

.notice-add-delete {
    position: relative;
    top: 5%;
    text-align: center;
    .add-fix {
        cursor: pointer;
        color: #555555;
    }
    hr {
        margin: 0 auto;
        width: 40%;
        position: relative;
        bottom: 10px;
    }
}

.inner-line {
    margin: 0 auto;
    width: 80%;
}

::-webkit-scrollbar { 
    display: none; 
}

.start-google {
    border-style: none;
    background-color: white;
    width: 90%;
    height: 50px;
    font-size: 92%;
    position: relative;
    left: 5%;
    border-radius: 5px;

    img {
        width: 13%;
        margin: 0px 8px 2px 0px;
    }
}

.logout {
    position: relative;
    top: 10%;
    p {
        text-align: center;
        color: #555555;
        cursor: pointer;
    }
    hr {
        margin: 0 auto;
        width: 30%;
        position: relative;
        bottom: 10px;
    }
}
