.landing-container {
    width: 80%;
    margin: auto;
}

.Ebbinghaus-row {
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;

    .Ebbinghaus-space {
        display: block;
        padding: 10rem 0;
    }

    .Ebbinghaus-part {
        .Ebbinghaus-title {
            font-size: 2rem;
            margin-bottom: 5rem;
        }

        p {
            font-size: 2rem;
        }
        
        img {
            width: 100%;
        }

        article {
            border: 0.3px solid #555555;
            margin: 2rem auto;
            padding: 1.5rem 0;
            border-radius: 10px;
            p {
                text-align: center;
                font-size: 1.3rem;
                margin: auto;
            }
            button {
                text-align: center;
                font-size: 1.3rem;
                margin: auto;
            }
            &:hover {
                background-color: #555555;
                color: white;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
        }

        .pointer {
            background-color: #555555;
            color: white;
            &:hover {
                background-color: white;
                color: #555555;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
        }

        .article-button {
            margin: auto;

            .article-left {
                margin-left: 0;
                width: 40%;
            }
            .article-center {
                width: 40%;
            }
            .article-right {
                margin-right: 0;
                width: 40%;
            }
        }
    }
}

.blog-profit {
    margin-top: 250px;
    .profit-title {
        border-bottom: 0.3px solid #d5d5d5;
        font-size: 30px;
        width: 320px;
        padding-bottom: 15px;
        margin: auto;
    }
    div {
        margin: auto;
        width: 1000px;
        article {
            border: 0.3px solid #555555;
            width: 900px;
            height: 80px;
            margin: 50px;
            border-radius: 10px;
            p {
                text-align: center;
                font-size: 20px;
                margin-top: 25px;
            }
            &:hover {
                background-color: #555555;
                color: white;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
        }
        .pointer {
            background-color: #555555;
            color: white;
            &:hover {
                background-color: white;
                color: #555555;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
        }
    }
}

.blog-manual {
    margin-top: 250px;
    margin-bottom: 250px;
    .manual-title {
        border-bottom: 0.3px solid #d5d5d5;
        font-size: 30px;
        width: 250px;
        padding-bottom: 15px;
        margin: auto;
    }

    div {
        margin: 50px;
        article {
            &:hover {
                background-color: #555555;
                color: white;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
        }
        .article-left {
            margin-bottom: 40px;
            width: 350px;
            height: 80px;
            border: 0.3px solid #555555;
            border-radius: 10px;
            p {
                text-align: center;
                font-size: 20px;
                margin-top: 25px;
            }
        }
        .article-center {
            width: 350px;
            height: 80px;
            border: 0.3px solid #555555;
            background-color: #555555;
            margin: auto;
            color: white;
            border-radius: 10px;
            &:hover {
                background-color: white;
                color: #555555;
                transition-property: background-color, color;
                transition-duration: 1s;
            }
            p {
                text-align: center;
                font-size: 20px;
                margin-top: 25px;
            }
        }
        .article-right {
            margin-top: 40px;
            width: 350px;
            height: 80px;
            border: 0.3px solid #555555;
            float: right;
            border-radius: 10px;
            p {
                text-align: center;
                font-size: 20px;
                margin-top: 25px;
            }
        }
    }
}