#landing-container {
    width: 100%;
    margin: auto;
    .img-inner {
        width: 900px;
        height: 570px;
        margin: auto;
        img {
            width: 900px;
            margin-top: 50px;
            z-index: -999;
        }
        .text-inner {
            position: relative;
            float: right;
            bottom: 120px;
            right: 20px;
            font-size: 20px;
            z-index: 1;
            color: white;
        }
    }
}