
* {
    &:focus {
        outline: none;
    }
}

.slick-slider {
    overflow: hidden;
    width: 100%;
    margin: auto;
    z-index: -999;
}

.photo {
    img {
        width: 100%;
        z-index: -999;

    }
    p {
        position: relative;
        float: right;
        color: white;
        font-size: 35px;
        right: 10px;
        bottom: 200px;
        background-color: wheat;
        font-weight: 100;
    
    }
}

.slick-track {
    display: flex;
}

.portfolio-photo {
    width: 600px;
}

.slick-prev {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 0px;
    width: 50px;
    height: 50px;
    top: 220px;

    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 7px solid #555555;
        border-left: 7px solid #555555;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        border-radius: 5px;
        z-index: 19;

    }
}

.slick-next {
    position: relative;
    bottom: 360px;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 0px;
    width: 50px;
    height: 50px;
    margin: 10px;
    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        border-top: 7px solid #555555;
        border-right: 7px solid #555555;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        border-radius: 5px;
        z-index: 19;

    }
}

.slick-dots {
    display: flex !important;
    list-style: none;
    width: 200px;
    margin: auto;

    li {
        margin: 10px;

        button {
            background: lavender;
            width: 10px;
            height: 12px;
            border: none;
            border-radius: 10px;
            font-size: 0;
        }
    }
}

.slick-active {
    button {
        background: rgb(192, 123, 248) !important;
    }
}

.portfolio-photo {
    display: block;
    width: 500px;
    margin: 0 auto;
}



.slider-text {
    animation-name: text;
    animation-duration: 3s;
}



@keyframes text {
    0% { 
        bottom: 500px; 
    } 
    100% { 
        bottom: 200px; 
    }

}

