$animationPosX: 50px;

* {
    &:focus {
        outline: none;
    }
}


.photo {
    p {
        position: absolute;
        padding: 0.2rem 2rem;
        color: white;
        font-size: 2rem;
        bottom: $animationPosX;
        background-color: wheat;
        font-weight: 100;
    }
}

.slick-track {
    display: flex;
}

.portfolio-photo {
    width: 600px;
}

.portfolio-photo {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.slider-text {
    animation-name: text;
    animation-duration: 4s;
}



@keyframes text {
    0% { 
        bottom: 500px; 
    } 
    100% { 
        bottom: $animationPosX; 
    }
}

