
//CreateCard 파일



.CreateCard{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 4px;
    align-items :center;
    justify-content:center;
    cursor: pointer;

    input{
        width:100%;
        box-sizing: border-box;
        padding:10px;
        font-size:14px;
        outline: none;
        border-radius :4px;
        border : none;
    }
    
    .CreateCardWrapper{
        position : relative;
        padding : 5px;
        box-sizing: border-box;
    }

    svg{
        color : lightsteelblue;
    }
}
