

.modalContent{
    height:100%;
    .modal-dialog {
        margin : 0;
        .modalFooter .boardModalButton{
            background-color: lavender;
            color: white;
            border: none;
        
            &:hover{
                background-color: lavenderblush;
                
            }
        }


    }

}
